__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

.env
.venv/
venv/

data/
data_splits/
checkpoints/
results/
values/

*.hdf5
*.hdft
*.pth
*.pt
*.onnx
*.npy
*.npz
*.log